body {
  font-family: "Merriweather Sans", sans-serif !important;
}

.nav-icon {
  font-size: 1.75rem;
  color: black;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

dialog {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.slider_item-detail h1 {
  font-weight: 900;
  font-size: 3rem !important;
  width: 95%;
  margin-top: 1rem;
}

.slider_item-detail p {
  margin: 1.5rem 0 !important;
}

.slider_img-box img {
  margin-top: 1.5rem;
  border-radius: 1.5rem;
}

.card {
  padding: 1rem;
}

.card-img-top {
  border-radius: 0.3rem;
}

.card-body {
  padding-bottom: 0;
}

.price {
  color: #4b5563;
  opacity: 0.8;
}

.featured-products {
  background-color: rgb(243 244 246);
}

input::placeholder,
textarea::placeholder {
  color: grey !important;
  opacity: 0.8 !important;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: grey !important;
}

/* Global dark theme styles */
body.dark-theme {
  background-color: #121212;
  color: #e0e0e0;
}

/* Navbar dark theme styles */
.navbar.dark-theme {
  background-color: #1a1a1a !important;
  border-bottom: 1px solid #333 !important;
}

.navbar.dark-theme .nav-link {
  color: #e0e0e0; /* Light color for the nav items */
}

/* Title color change for dark theme */
.nav-title-dark-theme {
  color: white;
}

/* Cards dark theme styles */
.card.dark-theme {
  background-color: #2c2c2c;
  color: inherit;
  border: 1px solid #444;
}

/* Featured products dark theme */
.featured-products.dark-theme {
  background-color: #1a1a1a;
}

/* Price color change for dark theme */
body.dark-theme .price {
  color: #388e3c;
}
